body{
    background: #002b5c;
}

.hola{
    background:aqua;
    color: white;
    
}



mat-expansion-panel{
    background-color: #002b5c;
    color: white;
}
mat-panel-title{
    color: white;
}

mat-toolbar {
    background: #002b5c;
    color: white;
    
}

mat-sidenav {
    /* height: calc(80vh - 85px); */
    margin: 16px;
    width: 250px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}


.content {
    height: calc(100vh - 40px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    
    height: calc(100vh );
}
.menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    
    /* mat-icon {
        margin-right: 8px;
    } */
 
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin: 0;
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}
.div1{
    color: blue;
}
.lineaDivisoria{
    margin: 0;
    padding: 0;
    border-radius: 5px;
    border: 0.5px solid lightgray;

}
.example-margin {
    margin: 0 10px;
  }