<div>
  <mat-card>
    <mat-card-title>Iniciar sesión</mat-card-title>
    <div>
      <img src="./assets/descarga.jpg" style="border-radius: 2%;">
    </div>
    <mat-card-content>
      
        <mat-tab-group>
            <mat-tab label="Login"> 
                <form>
                    <p>
                      <mat-form-field>
                        <input
                          type="text"
                          matInput
                          placeholder="Username"
                          formControlName="username"
                        />
                      </mat-form-field>
                    </p>
            
                    <p>
                      <mat-form-field>
                        <input
                          type="password"
                          matInput
                          placeholder="Password"
                          formControlName="password"
                        />
                      </mat-form-field>
                    </p>
            
                    <p *ngIf="error" class="error">
                      {{ error }}
                    </p>
                    <section class="example-section">
                    <mat-checkbox>Recordármelo la próxima vez</mat-checkbox>
                </section>
                <br>
                    <div class="button">
                      <button type="submit" mat-button>Inicio de sesión</button>
                    </div>
                  </form>
            </mat-tab>
            <mat-tab label="Password"> Cambiar contraseña
              <p>
              <mat-form-field>
                <input
                  type="text"
                  matInput
                  placeholder="Contraseña"
                  formControlName="Contraseña"
                />
              </mat-form-field>
            </p>
              <p>
                <mat-form-field>
                  <input
                    type="text"
                    matInput
                    placeholder="Nueva Contraseña"
                    formControlName="Nueva_Contraseña"
                  />
                </mat-form-field>
              </p>
              <p>
                <mat-form-field>
                  <input
                    type="text"
                    matInput
                    placeholder="Confirmar Contraseña"
                    formControlName="Confirmar_Contraseña"
                  />
                </mat-form-field>
              </p>
              <div class="button" >
                <button type="submit"   mat-button class="cancelar">Cancelar</button>
              
                <button type="submit"  mat-button>Cambiar Contraseña</button>
              </div>
            </mat-tab>
            </mat-tab-group>
     
    </mat-card-content>
  </mat-card>
</div>
